.createEvent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 80%;
    margin: auto;
}

.eventData{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    grid-column: 1;
    grid-row: 2;
}

.createEvent h1{
    grid-column: 1/ span 2;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.createEvent img{
    max-width: 500px;
    grid-column: 2;
    margin-left: 50px;
}

.eventData input[type=text], .eventData input[type=datetime-local]{
    background-color: rgb(230, 230, 230);
    font-size: 1rem;
    border: none;
    height: 2rem;
    width: 100%;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    padding: 20px;
}

.eventData input:hover{
    background-color: rgba(132,86,236,.2);
}

.eventData label{
    margin: 10px 0px 10px 0px;
    color: #8456EC;
    font-weight: 700;
}

.aSubmit{
    grid-column: 1/ span 2;
    text-decoration: none;
    justify-self: center;
}

.submitBtn{
    background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 500px;
    height: 55px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;

    
    margin-top: 25px;
}

.submitBtn:hover{
    background: linear-gradient(180deg, #8456EC 3.25%, #E87BF8 100%);
    color: rgb(230, 230, 230);
    transition: 1s;
    cursor: pointer;
  }

@media screen and (max-width: 1300px) {
    .createEvent{
        grid-template-columns: 1fr;
    }

    .eventData{
        display: flex;
        flex-direction: column;
        width: 95vw;
        grid-row: 3;
    }
    
    .createEvent h1{
        grid-row: 1;
        font-size: 2rem;
        text-align: center;
        margin-top: 50px;
    }
    
    .createEvent img{
        grid-column: 1;
        grid-row: 2;
        margin: 0px;
        width: 95vw;
    }

    .submitBtn{
        width: 95vw;
    }
}